.parent{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    padding: 50px;
    position: absolute;
    width: 100%;
    max-width: 680px;
    border-radius: 5px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 15px -7px rgba(0, 0,0,0.1);
    border-radius: 5px;
    margin-bottom: 22px;
}
.imgDiv{
    width: 100%;
    vertical-align: middle;
    margin-bottom: 40px;
}
.profile-bage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}
.uload-label{
    cursor: pointer;
}
.upload-icon{
    width: 70px;
    height: 35px;
    margin-top: 10px;
}
.login-form-button{
    margin-top: 20px;
    width: 100%;
}